<div class="px-3 py-3 d-flex flex-column flex-md-row align-items-center justify-content-between gap-2 border-1 border-primary border-top"
    [attr.data-skin]="themeService.skin()">
    <div class="d-flex align-items-center gap-2">
        <span class="text-muted small">Rows:</span>
        <div class="btn-group" role="group" aria-label="rows per page">
            <button type="button" class="btn btn-sm" [class.active]="limit===5"
                (click)="setLimit(5)">5</button>
            <button type="button" class="btn btn-sm mx-1" [class.active]="limit===10"
                (click)="setLimit(10)">10</button>
            <button type="button" class="btn btn-sm" [class.active]="limit===20"
                (click)="setLimit(20)">20</button>
        </div>
    </div>

    <nav class="pagination-wrapper" aria-label="Pagination">
        <ul class="pagination mb-0">
            <li class="page-item" [class.disabled]="page<=1">
                <button class="page-link" (click)="changePage(page-1)">Prev</button>
            </li>

            <li class="page-item" *ngFor="let p of visiblePages" [class.active]="page===p">
                <button class="page-link" (click)="changePage(p)">{{ p }}</button>
            </li>

            <li class="page-item" [class.disabled]="page>=totalPages">
                <button class="page-link" (click)="changePage(page+1)">Next</button>
            </li>
        </ul>
    </nav>

    <div class="text-muted small">Page {{page}} of {{totalPages}} • {{total}} items</div>
</div>
